<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Add photo</title>
</head>
<body>
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        Add photo to <span class="font-weight-bold" th:text="${username}"></span> gallery
        <a href="/logout" class="btn btn-outline-secondary float-right">Log out</a>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin"
           class="btn btn-outline-info float-right mr-2">Back to admin panel</a>
    </h1>

    <hr class="mt-2 mb-5">

    <div class="container my-5">
        <form class="form-inline" th:action="${#httpServletRequest.requestURI}" th:method="post" th:object="${photo}">
            <div class="form-group mb-2">
                <label for="purl" class="sr-only"></label>
                <input type="text" readonly class="form-control-plaintext" id="purl" value="Please provide photo URL">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="photo" class="sr-only">URL to photo</label>
                <input type="text" th:field="*{url}" class="form-control" id="photo">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add photo</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>