<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Administrator panel</title>
</head>
<body>
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Administrator panel
        <a href="/logout" class="btn btn-outline-secondary float-right">Log out</a>
    </h1>

    <hr class="mt-2 mb-5">
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>Username</th>
            <th>Number of photos</th>
            <th>Gallery link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td class="align-middle text-center" th:text="${user.username}"></td>
            <td class="align-middle text-center" th:text="${user.linksToPhotos.size()}"> photos</td>
            <td class="align-middle text-center">
                <a th:href="@{/gallery/{username}(username=${user.username})}" method="get" class="btn">
                    <i class="fas fa-images"></i></a></td>
        </tr>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>