<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Gallery</title>
</head>
<body>
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        <span class="font-weight-bold" th:text="${username}"></span> gallery
        <a href="/logout" class="btn btn-outline-secondary float-right">Log out</a>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin"
           class="btn btn-outline-info float-right mr-2">Back to admin panel</a>
        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
           th:href="@{__${#httpServletRequest.requestURI}__/add/}"
           class="btn btn-outline-success float-right mr-2">Add photo</a>
    </h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6" th:each="photo : ${photos}">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" th:src="${photo.url}" alt="">
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>